@font-face {
  font-family: Sackers Gothic;
  src: url(../fonts/SackersGothicStd-Medium.otf);
}

@font-face {
  font-family: Bembo Book;
  src: url(../fonts/BemboBookMTPro-Italic.otf);
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background: no-repeat url("https://images.pexels.com/photos/2217366/pexels-photo-2217366.jpeg");*/
  /*color: #bbb;*/
  background-size: cover;
  height: 100%;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container .text-muted {
  margin: 20px 0;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

#pricing {
  background-color: #eee;
}

#misc {
  background-color: #eee;

}
/* bembo book font */

#title {
  background: no-repeat url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85");
  background-size: cover;
  opacity: 0.95;
  margin-top: 0px;
  height: calc(100% - 59px);
  font-family: 'Sackers Gothic';
}

.vertical-center {
  min-height: calc(100% - 65px);
  /* 
  min-height: 100vh;
  min-height: 100%;
  max-height: 100%;
  */
  display: flex;
  align-items: center;
}

/* Sticky Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  font-family: 'Sackers Gothic';
}

.short {
  width: 50%;
}

#full {
  height: 100%;
}

#ww {
  white-space: nowrap;
}

#slogan {
  font-family: 'Bembo Book';
  font-size: 10vh;
}

.navbar-custom {
  background: #000230;
}/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}